* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 0;
}

.header {
	padding: 60px;
	text-align: center;
	background: #1abc9c;
	color: white;
}

.navbar {
	display: flex;
	background-color: #333;
}

.navbar a{
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover {
	background-color: #fcfcf0;
	color: black;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main {
	flex: 70%;
	background-color: white;
	padding: 20px;
}

.fakeimg {
	background-color: #828480;
	width: 100%;
	padding: 20px;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}